*{
    padding: 0;
    margin: 0;
}

.img-logo{
    width:50px;
    height: auto;
}

section{
    height: 100vh;
}
#s3{
    margin-top: 80xp;
}

.wrap-acc{
    width: 80xp;
}

#s1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
    gap: 2vw;
}

.s1-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.s1-right{
    width: 600px;
}
#s1{
    background-image: url("pngtree-innovative-networking-tech-3d-gold-line-hexagon-wallpaper-with-modern-black-image_3617175.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.wrap-img{
    width: 400px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-s1{
    width: 400px;
    height: 400px;
    filter: grayscale(1);
    transition: all 150ms ease-in-out;
}
.img-s1:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.title-name{
    font-family: "Sigmar", serif;
}
#s2{
    background-image: url("fundo-preto-estilo-3d-com-camada-de-papel_206725-669.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


@media (width < 1000px){
    #s1{
       padding: 80px 20px 0px 20px;
    }
    .wrap-img{
        width: 300px;
    }
    .img-s1{
        width: 300px;
        height: 300px;
    }
}

.title-name{
    font-family: "Sigmar", serif;
}

#s2{
    background-image: url("fundo-preto-estilo-3d-com-camada-de-papel_206725-669.avif") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cartao1{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 4px solid #c2c814;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartao2{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 4px solid #c87a14;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartao3{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 4px solid #14c8aa;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartao4{
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 4px solid #1423c8;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-img-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
  
}
.wrap-info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    max-height: 300px;
}

.wrap-info-card h3{
  max-height:50px ;
  min-height: 50px;
}
#s3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10vh 0px;
    background-color: rgba(255, 255, 255, 0.971);
}

.wrap-acc{
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.accordion-button{
    background: #000000df !important;
    color: white  !important;
}

.accordion-item{
    background: #000000a4 !important;
    color: white  !important;
}

#s4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding:2vh 0px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.formulario button{
   padding: 10px;
   border-radius: 999px;
   width: 100%;
   border: none;
   background: none;
   color: white;
   border: 2px solid white;
   transition: all 200ms ease-in-out;
}

.formulario button:hover{
    color: black;
    border: 2px solid black;
    background: white;
 }
 

.formulario label{
   text-align: left;
   width: 100%;
   margin-left: 40px
 
 }

.formulario input{
    padding: 10px;
    border-radius: 999px;
    width: 100%;
 }

 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
    min-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10vh;
 }
 footer img{
   transition: all 500ms ease-in-out;
 }
 footer img:hover{
    transform: scale(1.3) rotate(360deg); 
 }


@media (width < 1000px){
    #s1{
       padding: 80px 20px 0px 20px;
       gap: 0;
    }
    .wrap-img{
        width: 300px;
    }
    .img-s1{
        width: 300px;
        height: 300px;
    }
    #s2{
        padding: 10vh 0px;
        height: auto;
        background-image: url("./assets/papermobile.webp") ;
        
    .formulario{
            width: 78%;
        }
    }
}
