*{
    padding: 0;
    margin: 0;
}

.img-logo{
    width:50px;
    height: auto;
}

section{
    height: 100vh;
}


#s1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
    gap: 2vw;
}

.s1-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.s1-right{
    width: 600px;
}

.wrap-img{
    width: 400px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-s1{
    width: 400px;
    height: 400px;
    filter: grayscale(1);
    transition: all 150ms ease-in-out;
}
.img-s1:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.title-name{
    font-family: "Sigmar", serif;
}
#s2{
    background-image: url("soldier-from-battlefield-1-hd-iswsiqdiudm0rkdc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (width < 1000px){
    #s1{
       padding: 80px 20px 0px 20px;
    }
    .wrap-img{
        width: 300px;
    }
    .img-s1{
        width: 300px;
        height: 300px;
    }
}